# Obsidian workspace & cache (no versionar)
.obsidian/workspace
.obsidian/workspace.json
.obsidian/workspaces.json
.obsidian/workspace-mobile.json
.obsidian/cache
.obsidian/plugins/*/data.json

# Trash local
.trash/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
*.swp
*~

# Attachments grandes (descomentar si no quieres versionar binarios pesados)
# 10_Attachments/*.mp4
# 10_Attachments/*.mov
# 10_Attachments/*.zip
